@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.contact_bg {
  background-color: #1d1d1d;
}

.contact_heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */

  color: #ffffff;
}

.contact_form_heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */

  color: #ffffff;
  margin-bottom: 20px;
}


.contact_form_name{
    margin-bottom: 16px;
}

.contact_form_email{
    margin-bottom: 16px;
}

.contact_form_interested{
    margin-bottom: 16px;
}

.contact_form_terms{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #E0E0E0;

}

.contact_form_terms_colored{
    
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #FFFFFF;


}

.contact_form_button{
    width: 162px;
height: 54px;
background: #FEBC14;
border-radius: 10px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 35px;
/* identical to box height, or 219% */

text-align: center;

color: #323232;
text-transform: none;
}

.contact_form_button:hover{
    background: #FEBC14;
}

.contact_form_name{
    display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #727272;
  height: 54px;
border-radius: 15px;
background-color: transparent;
color:white;
}

.contact_form_name:hover{
    border: 1px solid #FEBC14;
}

.contact_form_email:hover{
    border: 1px solid #FEBC14;
}

.contact_form_interest:hover{
    border: 1px solid #FEBC14;
}

.contact_form_name:focus{
    outline: none;
    border: 1px solid #FEBC14;
}

.contact_form_description:hover{
    border: 1px solid #FEBC14;
}

.contact_form_email:focus{
    outline: none;
    border: 1px solid #FEBC14;
}

.contact_form_interest:focus{
    outline: none;
    border: 1px solid #FEBC14;
}

.contact_form_description:focus{
    outline: none;
    border: 1px solid #FEBC14;
}


.contact_form_email{
    display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #727272;
  height: 54px;
border-radius: 15px;
background-color: transparent;
color:white;
}

.contact_form_interest{
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #727272;
  height: 54px;
border-radius: 15px;
background-color: transparent;
color:white;
background: url('/assets/images/1.svg') no-repeat right transparent;
background-size: 16px;
    -webkit-appearance: none;
    background-position-x: 97%;
}

.contact_form_option{
  color:white;
  background-color: #1d1d1d;
}

.contact_form_description{
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #727272;
  height: 54px;
border-radius: 15px;
background-color: transparent;
color:white;
resize: none;
height: 120px;
overflow: hidden;
}